.dashboardCard {
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboardTitle {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.dropzone {
  padding: 15px;
  border: 3px dashed #3189d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3189d6;
  font-weight: bold;
  font-size: 20px;
}

.uploadIcon {
  font-size: 70px;
  z-index: 0;
}
